body {
    background-color: lightgray;
}

#ls-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: cadetblue;
    color: white;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
}

.fizz {
    background-color: sandybrown;
}

.buzz {
    background-color: chocolate;
}

.fizzbuzz {
    background-color: black;
}